[submodule "session_4/src/noah-bot-simulation"]
	path = session_4/src/noah-bot-simulation
	url = https://github.com/Ekumen-OS/Noah-bot-simulation.git
  branch = main
[submodule "session_1/src/noah-bot-simulation"]
	path = session_1/src/noah-bot-simulation
	url = https://github.com/Ekumen-OS/Noah-bot-simulation.git
  branch = main
